body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: rgb(241, 207, 157);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.form {
    background-color: whitesmoke;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0, 0, .3);
    border-radius: 15px;
}
.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    align-items: center;
    padding: 10px;
    border: solid 4px gray;
    color: green;
}
.input::placeholder{
    color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn{
    background-color: firebrick;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: rgba(0,0, 0, .3);
    cursor: pointer;
}
.btn:hover {
    filter: brightness(0.9);
}
.score{
    color: green;
    text-align: right;
    
}